@model PreOrclFrontEnd.Models.Casos
@{
    ViewData["Title"] = "Create";

    List<SelectListItem> listaCategorias = (ViewBag.listaCategorias as List<SelectListItem>);
    List<SelectListItem> listaTipos = (ViewBag.listaTipos as List<SelectListItem>);


}


@section Styles{

    <link rel="stylesheet" href="~/templateAdmin/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/templateAdmin/assets/css/style.css">
    <link rel="stylesheet" href="~/templateAdmin/assets/css/lib/chosen/chosen.min.css">
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Agregar Caso</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Registros</a></li>
                            <li><a asp-action="Index">Casos</a></li>
                            <li class="active">Agregar Caso</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">

        <div class="row">

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Crear Caso</strong> <small></small>
                    </div>

                    <form asp-action="Edit" asp-antiforgery="true" id="createForm" data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                          data-ajax-failure="onFailed" data-ajax-success="onSuccess" data-ajax="true" data-ajax-method="POST">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label asp-for="NombreCaso"></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-gavel"></i></div>
                                    <input asp-for="NombreCaso" class="form-control">
                                </div>
                                <span asp-validation-for="NombreCaso" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FechaApertura"></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input asp-for="FechaApertura" class="form-control">
                                </div>
                                <span asp-validation-for="FechaApertura" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdCliente"></label>
                                <select asp-for="IdCliente" data-placeholder="Seleccionar" asp-items="ViewBag.listaPersonas" class="standardSelect" tabindex="1">
                                    <option disabled value="-1" selected>Seleccionar</option>
                                </select>
                                <span asp-validation-for="IdCliente" class="text-danger"></span>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label asp-for="Categoria" class="form-control-label"></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check-inline form-check">
                                        @foreach (var itemCategoria in listaCategorias)
                                        {

                                            <label for="inline-radio@listaCategorias.GetEnumerator()" class="form-check-label ">
                                                <input asp-for="Categoria" type="radio" value="@itemCategoria.Value" class="form-check-input">@itemCategoria.Text&nbsp;&nbsp;&nbsp;
                                            </label>

                                        }

                                    </div>
                                    <span asp-validation-for="Categoria" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecioPactado"></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-dollar"></i></div>
                                    <input asp-for="PrecioPactado" class="form-control text-right">
                                </div>
                                <span asp-validation-for="PrecioPactado" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdAbogado"></label>
                                <select asp-for="IdAbogado" data-placeholder="Seleccionar" asp-items="ViewBag.listaAbogados" class="standardSelect" tabindex="1">
                                    <option disabled value="-1" selected>Seleccionar</option>
                                </select>
                                <span asp-validation-for="IdAbogado" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Resolucion"></label>
                                <div class="input-group">

                                    <textarea asp-for="Resolucion" class="form-control" rows="15"></textarea>
                                </div>
                                <span asp-validation-for="Resolucion" class="text-danger"></span>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label asp-for="EstadoCaso"></label>
                                    <select asp-for="EstadoCaso" data-placeholder="Seleccionar" asp-items="ViewBag.listaEstadoCasos" class="standardSelect" tabindex="1">
                                        <option disabled value="-1" selected>Seleccionar</option>
                                    </select>
                                    <span asp-validation-for="EstadoCaso" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="FechaCierre"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input asp-for="FechaCierre" class="form-control">
                                    </div>
                                    <span asp-validation-for="FechaCierre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label asp-for="Tipo" class="form-control-label"></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check-inline form-check">
                                        @foreach (var itemTipos in listaTipos)
                                        {

                                            <label for="inline-radio@listaTipos.GetEnumerator()" class="form-check-label ">
                                                <input asp-for="Tipo" type="radio" value="@itemTipos.Value" class="form-check-input">@itemTipos.Text&nbsp;&nbsp;&nbsp;
                                            </label>

                                        }

                                    </div>
                                    <span asp-validation-for="Tipo" class="text-danger"></span>
                                </div>
                            </div>
                            <input asp-for="IdCaso" type="hidden" />
                            <input asp-for="CreatedAt" type="hidden" />
                            <input asp-for="UpdatedAt" type="hidden" />
                            <input asp-for="InactivatedAt" type="hidden" />
                            <input asp-for="Inactivo" type="hidden" />
                            <div class="row form-group">
                                <div class="col-sm-12 text-right">
                                    <input type="button" value="Guardar" onclick="GuardarNotificacion('#createForm','@Url.Action("Edit")','@Url.Action("Index")')" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>


    </div><!-- .animated -->
</div>


@section Scripts {



    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/custoSweetAlertAjax.js"></script>
 
    <script src="~/templateAdmin/assets/js/lib/chosen/chosen.jquery.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery(".standardSelect").chosen({
            
                no_results_text: "No se encontraron registros!",
                width: "100%"
            });

            jQuery(".standardSelect").removeAttr("style");
            jQuery(".standardSelect").css("visibility", "hidden");
            jQuery(".standardSelect").css("position", "absolute");



        });
    </script>

}
